/* ===================================
DEFINITIONS
=================================== */
// Colors
$peach:             #ffb67f;
$light-peach:       #ffe2cc;
$fun-green:         #009c27;
$yellow-sea:        #ffad00;
$tomato:            #e40613;

// Grey variants
$foggy-gray:        #cdc7b9;
$dove-gray:         #676767;
$silver:            #cccccc;
$mercury:           #e9e9e9;
$mercury-dark:      #333333;
$pampas:            #f3f0ed;
$athens-gray:       #f8f9fa;

// Monotone
$white:             #ffffff;
$black:             #000000;

/* ===================================
BRANDING
=================================== */
$grey1:             $pampas;
$grey2:             $athens-gray;
$grey3:             $dove-gray;
$grey4:             $silver;
$grey5:             $mercury;
$grey6:             $mercury-dark;

$ok:                $fun-green;
$warning:           $yellow-sea;
$error:             $tomato;

/* ===================================
MEDIA QUERIES
=================================== */
$bp-sm-landscape:   576px;
$bp-md:             768px;
$bp-lg:             992px;
$bp-xl:             1200px;
$bp-xxl:            1600px;
$bp-xxxl:           1920px;

/* ===================================
FONTS
=================================== */
$fontawesome:       "Font Awesome 5 Free";