<app-header></app-header>
<app-navigation></app-navigation>
<div class="home">
    <h1>
        Welcome to the world of Pokémon!
    </h1>

    <p>
        Pokémon Master Trainer is a board game produced in 1999 by Hasbro and Milton Bradley.
        <br />The object of the game is to travel the Kanto region, capture and battle Pokémon (in the form of cardboard chips), and reach Indigo Plateau to battle one of the Elite Four members.
        <br />More info about the original game can be found <a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Master_Trainer_(1999)" target="_blank">here</a>.
    </p>

    <p>
        This web application is a digitalized version of the board game which can be played online.
        <br />The original board game had several flaws and/or inconsistencies.
        <br />To counter this, some changes have been made to keep everything more balanced.
        <br />The most important changes are listed below.
    </p>

    <ul>
        <li>Only 3 starter Pokémon (and only 3 players) instead of 6. Let's be honest, you do not want to start out with Clefairy or Meowth...</li>
        <li>A better spread of colored chips. There is an equal amount of pink, green and blue chips, with just a couple less red chips.</li>
        <li>A new legendary Pokémon was added, since no Pokémon game is ever complete without the presence of Mew!</li>
        <li>Catch rates have been altered. Every color still has a fixed amount of possibilities to catch the Pokémon, but the possibilities themselves may vary.</li>
        <li>Some Pokémon changed category (chip color) to better reflect their strength and rarity.</li>
        <li>Items and events have been modified to better support other changes or to be more realistic.</li>
        <li>Rivals are now Elite Trainers and they have 5 Pokémon instead of just 1 (however, you still only fight 1).</li>
        <li>Not all players have to be Ash Ketchum. You can pick between Ash, Misty and Brock as your pawn.</li>
        <li>Several other small changes, you may notice them while playing.</li>
    </ul>
</div>
<app-footer></app-footer>