<div class="navigation">
    <ul class="navigation-links">
        <li [routerLink]="['/home']" [routerLinkActive]="['navigation-link__active']" class="navigation-link">
            <span>Home</span>
        </li>
        <li [routerLink]="['/instructions']" [routerLinkActive]="['navigation-link__active']" class="navigation-link">
            <span>Instructions</span>
        </li>
        <li *ngIf="!isAuthenticated" [routerLink]="['/login']" [routerLinkActive]="['navigation-link__active']" class="navigation-link">
            <span>Log in</span>
        </li>
        <li *ngIf="!isAuthenticated" [routerLink]="['/register']" [routerLinkActive]="['navigation-link__active']" [hidden]="isAuthenticated" class="navigation-link">
            <span>Register</span>
        </li>
        <li *ngIf="isAuthenticated" [routerLink]="['/dashboard']" [routerLinkActive]="['navigation-link__active']" [hidden]="!isAuthenticated" class="navigation-link">
            <span>Dashboard</span>
        </li>
    </ul>
</div>