.button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: purple;
    cursor: pointer;

    &:hover {
        background-color: lighten(purple, 5%);
    }

    &:disabled {
        opacity: 0.75;
        cursor: not-allowed;

        &:hover {
            background-color: purple;
        }
    }
}
